{
    auto_https off
}

# Redirect HTTP to HTTPS
:80 {
    redir https://{host}{uri}
}

# 1. Main Domains & Tenant Subdomains
# We serve ALL of them using the single expanded certificate
retailos.cloud, indumart.us, greensboro.indumart.us, highpoint.indumart.us {
    
    # Path to the EXPANDED certificate (which covers all domains)
    tls /etc/letsencrypt/live/indumart.us/fullchain.pem /etc/letsencrypt/live/indumart.us/privkey.pem
    
    reverse_proxy web:3000
}
