version: '3'
services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: retailstore_web
    restart: always
    # Ports removed because Nginx handles ingress
    # ports:
    #   - "3000:3000" 
    environment:
      - NEXT_PUBLIC_SUPABASE_URL=${NEXT_PUBLIC_SUPABASE_URL}
      - NEXT_PUBLIC_SUPABASE_ANON_KEY=${NEXT_PUBLIC_SUPABASE_ANON_KEY}
      - HOSTNAME=0.0.0.0
    env_file:
      - .env.local

  nginx:
    build:
      context: ./nginx
      dockerfile: Dockerfile
    container_name: retailstore_nginx
    restart: always
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - web
