version: '3.8'

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
    restart: always

  db:
    image: postgres:15-alpine
    container_name: retail_store_new_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123
      POSTGRES_DB: retail_store_master
    ports:
      - "5435:5432"
    volumes:
      - postgres_data_new:/var/lib/postgresql/data
    restart: always

volumes:
  postgres_data_new:
