{
    email advikai757@gmail.com
    # Disable auto-HTTPS because Nginx handles SSL and proxies via HTTP
    auto_https off
}

http://retailOS.cloud {
    reverse_proxy app:3010
}

http://indumart.us {
    reverse_proxy app:3010
}

# Generic catch-all for subdomains (passed from Nginx)
http://*.indumart.us {
    reverse_proxy app:3010
}

http://*.retailOS.cloud {
    reverse_proxy app:3010
}
